body {
    font-family: Arial, sans-serif;
    
}
.topBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #fff;
    height: 130px;
    font-size: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    color: #fff;
    background-color: #343a40

}

.links {
    width: 100%;
    max-width: 300px;
    padding: 10px;
}


.personal {
    display: row;
    width: 100%;
    padding: 20px;
    flex: 1;
}

#imgFoto {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.personalInfo {
    font-size: large;
    margin-top: 20px;
}
.personalInfo p {
    margin-left: 40px;
}
.personalInfo a {
    background-color: rgb(143, 143, 143);
    text-decoration: none;
}
.buttomBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #f8d7da;

    
}
#imgUade{
    height: 40px;
}

@media screen and (max-width: 480px) {
    .topBox{
        font-size: 110%;
        text-align: center;
        height: 100%;
    }
    .topBox h1{
        width: 70%;
        margin-bottom: 1px;
    }
    .personal{
        margin-top: -40px;
        margin-bottom: -20px;
    }
    .personalInfo p{
        font-size: 90%;
        margin: 18px 0;

    }
    #imgUade{
        height: 90%;
    }
}
